<div class="container formopi">
    <div class="row">
<form action="/admin/opiniones/agregar" method="post">
  <div class="col-6">
    <label for="tituloopiniones" class="form-label opi">Titulo</label>
    <input type="text" class="form-control" id="tituloopiniones" name="titulo" placeholder="Agrege titulo aqui">
  </div>
  <div class="col-6">
    <label for="subtituloopiniones" class="form-label opi">Subtitulo</label>
    <input type="text" class="form-control" id="subtituloopiniones" name="subtitulo" placeholder="Agregue subtitulo aqui">
  </div>
  <div class="col-6">
     <label for="cuerpoopiniones" class="opi">cuerpo</label><br>
    <textarea name="cuerpo" id="cuerpoopiniones" cols="80" rows="7" class="opi" >
    </textarea>
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>
</div>
</div>