<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-begin">Hola {{persona}}!! <a class="btn btn-danger"href="/admin/login/logout">Cerrar Sesion <i class="fas fa-sign-out-alt"></i></a></p>
            <p>los datos datos son los siguientes<br>ID "{{ID}}"<br> nombre "{{persona}}"<br> password "{{password}}"</p>
        </div>
    </div>
</div>