<div class="container , formulario">
  <form action="/index" method="post">
  <div class="mb-3">
    <label for="inputusuario" class="form-label">Usuario</label>
    <input type="text" class="form-control" id="inputusuario" placeholder="Usuario" name="usuario">
  </div>
  <div class="mb-3">
    <label for="inputpassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputpassword" placeholder="Password" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Ingresar</button>
 </form>
 {{#if error}}
     <p>Usuario y/o contraseña incorrecta</p>
 {{/if}}
</div>