<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    {{{body}}}
    <label for="">ingrese numero de dni </label>
    <input type="text" id="dni">
    <button id="boton">ENVIAR</button>
  </body>
</html>
