body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #404040;
  color: aliceblue;
  box-sizing: border-box;
}

a {
  color: aliceblue;
}

.titulo{
  display:flex;
  justify-content: center;
  margin-bottom: 100px;
}
th , tr{
  color: aliceblue;
  font-weight: bold;
  font-size: 17px;
  padding: 10px;
}
.tabla{
  display: flex;
  justify-content: center;
}
.boton{
  margin-top: 50px;
}

.footer {
  margin-top: 10px;
  text-align: center;
}
.encabezados{
  text-align: center;
  color: blueviolet;
  margin-top: 30px;
  text-transform: uppercase;
}
.usuario{
  text-align: center;
}